<div class="header-content fullheight">
  <div class="slick-header fullheight">
    <div class="header-slide slide-3">
      <img src="assets/images/404-images/404.gif" alt="404 error" class="slider-background">
    </div>
  </div>
</div>
<div class="header-content fullheight">
<div class="row pushtop-30">
</div>
</div>
<!--<div class="container">-->
<!--  <h1>Not found <span>:(</span></h1>-->
<!--  <p>Sorry, but the page you were trying to view does not exist.</p>-->
<!--  <p>It looks like this was the result of either:</p>-->
<!--  <ul>-->
<!--    <li>a mistyped address</li>-->
<!--    <li>an out-of-date link</li>-->
<!--  </ul>-->
<!--</div>-->
<!--<div class="animationload">-->
<!--  <div class="loader">-->
<!--  </div>-->
<!--</div>-->
<!--&lt;!&ndash; End load page &ndash;&gt;-->

<!--&lt;!&ndash; Content Wrapper &ndash;&gt;-->
<!--<div id="wrapper">-->
<!--  <div class="container">-->
<!--    &lt;!&ndash; Switcher &ndash;&gt;-->
<!--    <div class="switcher">-->
<!--      <input id="sw" type="checkbox" class="switcher-value">-->
<!--      <label for="sw" class="sw_btn"></label>-->
<!--      <div class="bg"></div>-->
<!--      <div class="text"><span class="text-l">On</span><span class="text-d">Off</span><br />light</div>-->
<!--    </div>-->
<!--    &lt;!&ndash; End Switcher &ndash;&gt;-->

<!--    &lt;!&ndash; Dark version &ndash;&gt;-->
<!--    <div id="dark" class="row text-center">-->
<!--      <div class="info">-->
<!--        <img src="assets/images/404-images/404.png" alt="404 error" />-->
<!--      </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; End Dark version &ndash;&gt;-->

<!--    &lt;!&ndash; Light version &ndash;&gt;-->
<!--    <div id="light" class="row text-center">-->
<!--      &lt;!&ndash; Info &ndash;&gt;-->
<!--      <div class="info">-->
<!--        <img src="assets/images/404-images/404.gif" alt="404 error" />-->
<!--        <h4>The page you are looking for was moved, removed,-->
<!--          renamed or never existed.</h4>-->
<!--        <a href="/" class="btn">Home</a>-->
<!--        <a href="#" class="btn btn-brown">Contact</a>-->
<!--      </div>-->
<!--      &lt;!&ndash; end Info &ndash;&gt;-->
<!--    </div>-->
<!--    &lt;!&ndash; End Light version &ndash;&gt;-->

<!--  </div>-->
<!--  &lt;!&ndash; end container &ndash;&gt;-->
<!--</div>-->
