<div class="header-content fullheight">
  <div class="page-header text-center">
    <h2>Питомник сомалийских кошек "Звезда Востока"</h2>
    <br>
  </div>
</div>

<div class="container drag-up">
  <div class="row">
    <div class="col-lg-9">
      <div class="blog-listing">
        <div class="blog-post portfolio-single">
          <div class="blog-post-slick">
            <img class="img-fluid" alt="Blog post" src="assets/images/cattery.png">
          </div>
          <div class="aside-widget popular-categories mt-5">

            <h4>ИНФОРМАЦИЯ О ПИТОМНИКЕ</h4>
                <p>
                  Питомник "Звезда Востока" - это сообщество Заводчиков, которые ведут между собой диалог. У каждого в доме не более 5 животных, что сохраняет здоровье и иммунитет на высоком уровне и позволяет кошкам иметь высочайший уровень заботы, ухода, любви и общения с человеком.
                  Абсолютно все котята, вне зависимости от класса, имеют полный комплект документов: официально оформленный вет паспорт: прививаются самой современной и безопасной вакциной; актируются в клубе; серьезный договор ответственности сторон. В IncendieEtoile представлены все классические окрасы: дикий, соррель, фавн и голубой.
                </p>


            <h4>ИНФОРМАЦИЯ О ПИТОМНИКЕ</h4>
            <ul>
              <li>Породы<span class="pull-right item-count">Сомалийская</span></li>
              <li>Местоположение<span class="pull-right item-count">Санкт-Петербург, Россия</span></li>
              <li>Сайт питомника<span class="pull-right item-count">www.vest-star.com</span></li>
              <li>Членский взнос<span class="pull-right item-count">2000</span></li>
              <li>Дата регистрации<span class="pull-right item-count">05/05/2021</span></li>

            </ul>
          </div>
        </div>
      </div>
      <div class="related-projects pushtop-100">
        <h3>КОШКИ ПИТОМНИКА</h3>
        <div class="row small-gutters pushtop-30">
            <div class="col-md-6">
              <a href="#" class="portfolio-item-alt">
                <img src="assets/images/cat.png" alt="widget-image" class="img-fluid">
                <div class="inner-wrapper">
                  <h6>Кошка 1</h6>
                  <p>Сомалийская</p>
                </div>
              </a>
            </div>
        </div>
        <div class="row small-gutters pushtop-30">
          <div class="col-md-6">
            <a href="#" class="portfolio-item-alt">
              <img src="assets/images/cat.png" alt="widget-image" class="img-fluid">
              <div class="inner-wrapper">
                <h6>Кошка 2</h6>
                <p>Сомалийская</p>
              </div>
            </a>
          </div>
        </div>
      </div>
      <!--      <ul class="blog-pagination pushtop-50">-->
      <!--        <li><a href="#">1</a></li>-->
      <!--        <li><a href="#">2</a></li>-->
      <!--        <li><a href="#">3</a></li>-->
      <!--        <li><a href="#">4</a></li>-->
      <!--        <li><a href="#">5</a></li>-->
      <!--        <li><a href="#">6</a></li>-->
      <!--      </ul>-->
    </div>
    <div class="col-lg-3">
      <aside class="blog-sidebar">
        <div class="aside-widget recent-posts">
          <h4>ПИТОМНИКИ</h4>
          <div class="recent-post clearfix">
            <img src="assets/images/user1.png" alt="Recent post" class="pull-left">
            <a href="#">Esclide</a>
            <span class="pull-right">Руководитель</span>
          </div>
          <div class="recent-post clearfix">
            <img src="assets/images/user2.png" alt="Recent post" class="pull-left">
            <a href="#">Annete</a>
            <span class="pull-right">Участник</span>
          </div>
        </div>
      </aside>
    </div>
  </div>

</div>
