<div class="header-content fullheight">
  <div class="slick-header fullheight">
    <div class="header-slide slide-3">
      <img src="assets/images/home/home-background.png" alt="Slider Background" class="slider-background">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 offset-lg-6">
            <h2>AlphaBreed</h2>
          </div>
          <div class="col-lg-6 offset-lg-6">
            <p>
              Платформа для размещения объявлений о продаже и вязке котов, а также питомников для организации взаимодействия между членами питомника
            </p>
          </div>
          <div class="col-lg-6 offset-lg-6">
            <a (click)="scroll(startContent)" class="button-link-1 style-3 pushtop-30 link-light">УЗНАТЬ ПОДРОБНЕЕ<i class="fa fa-caret-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="widget-1 text-center" #startContent>
    <div class="container">
      <div class="row">
        <div class="col-md-4 drag-this-left">
          <section>
            <div class="image-holder">
              <img src="assets/images/home/home-small0.png" alt="widget-image">
            </div>
            <h6>Размещение объявлений</h6>
            <p>
              Желаете приобрести котенка или повязать кошку? Сотни актуальных оюбъявлений о вязке или продаже кошек с информацией о животном, владельце, заводчике и питомнике
            </p>
          </section>
        </div>
        <div class="col-md-4 drag-this-up">
          <section>
            <div class="image-holder">
              <img src="assets/images/home/home-small%201.png" alt="widget-image">
            </div>
            <h6>Просмотр списка питомников</h6>
            <p>
              Интересуетесь возможностью вступления в питомник? Просмотр рейтинга существующих питомников кошек разных пород с возможносью вступления в любой из них
            </p>
          </section>
        </div>
        <div class="col-md-4 drag-this-right">
          <section>
            <div class="image-holder">
              <img src="assets/images/home/home-small.png" alt="widget-image">
            </div>
            <h6>Регистрация собственного питомника</h6>
            <p>
              Являетесь владельцем питомника? Возможность зарегистрировать свой питомник в системе для отображения его в общем рейтинге питомников и возможности общения с членами питомника
            </p>
          </section>
        </div>
      </div>
    </div>
  </div>

  <div class="widget-2 text-left pushtop-180 drag-this-up">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <p class="pretitle">С ЧЕГО НАЧАТЬ</p>
          <h3>Найдите интересующее вас объявление или разместите свое</h3>
          <p>
            Nam liber tempor cum soluta nobis eleifend option congue
            nihil imperdiet doming id quod mazim placerat facer
            possim assum. Lorem ipsum dolor sit amet, consectetuer
            adipiscing elit, sed diam nonummy nibh euismod tincidunt.
          </p>
          <a class="button-link-1 pushtop-30" [routerLink]="'/adverts'">ПЕРЕЙТИ К ОБЪЯВЛЕНИЯМ</a>
        </div>
        <div class="col-lg-6">
          <img src="assets/images/home/home.png" alt="widget-image">
        </div>
      </div>
    </div>
  </div>

  <div class="widget-2 text-right pushtop-180 drag-this-up">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <img src="https://via.placeholder.com/619x635" alt="widget-image" class="pull-right">
        </div>
        <div class="col-lg-6">
          <h3>Подайте заявку на вступление в питомник или зарегистрируйте свой</h3>
          <p>
            Nam liber tempor cum soluta nobis eleifend option congue
            nihil imperdiet doming id quod mazim placerat facer
            possim assum. Lorem ipsum dolor sit amet, consectetuer
            adipiscing elit, sed diam nonummy nibh euismod tincidunt.
          </p>
          <a href="#" class="button-link-1 pushtop-30 pull-right">Перейти к питомникам</a>
        </div>
      </div>
    </div>
  </div>

  <div class="widget-3 pushtop-220 drag-this-up">
    <div class="container-fluid">
      <p class="pretitle text-center">МОЖЕТ БЫТЬ ИНТЕРЕСНО</p>
      <h3 class="text-center">Питомники с наибольшим рейтингом</h3>
      <div class="portfolio-widget-tabs clearfix text-center">
        <ul class="clearfix pushtop-60">
          <li><a data-filter=".default" href="#" class="active link-hover">ALL</a></li>
          <li><a data-filter=".portfolio-webdesign" href="#" class="link-hover">WEBDESIGN</a></li>
          <li><a data-filter=".portfolio-typo" href="#" class="link-hover">TYPO</a></li>
          <li><a data-filter=".portfolio-branding" href="#" class="link-hover">BRANDING</a></li>
          <li><a data-filter=".portfolio-development" href="#" class="link-hover">DEVELOPMENT</a></li>
        </ul>
      </div>
      <div id="portfolio-widget-tab-content" class="row pushtop-50">
        <div class="col-lg-3 col-sm-6 default portfolio-typo">
          <a href="#" class="portfolio-item">
            <img src="https://via.placeholder.com/420x228" alt="blog">
            <div class="inner-wrapper">
              <div class="plus-sign"><span>+</span></div>
              <h6>User Experience Design</h6>
              <p>Graphic Design</p>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-sm-6 default portfolio-branding portfolio-webdesign">
          <a href="#" class="portfolio-item">
            <img src="https://via.placeholder.com/420x228" alt="blog">
            <div class="inner-wrapper">
              <div class="plus-sign"><span>+</span></div>
              <h6>Interior Technology</h6>
              <p>Webdesign</p>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-sm-6 default portfolio-development portfolio-branding">
          <a href="#" class="portfolio-item">
            <img src="https://via.placeholder.com/420x228" alt="blog">
            <div class="inner-wrapper">
              <div class="plus-sign"><span>+</span></div>
              <h6>Illustration Design</h6>
              <p>Webdesign</p>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-sm-6 default portfolio-development portfolio-branding">
          <a href="#" class="portfolio-item">
            <img src="https://via.placeholder.com/420x228" alt="blog">
            <div class="inner-wrapper">
              <div class="plus-sign"><span>+</span></div>
              <h6>Illustration Design</h6>
              <p>Webdesign</p>
            </div>
          </a>
        </div>
      </div>
      <a href="#" class="button-link-1 mx-auto">Перейти к питомникам</a>
    </div>
  </div>

