.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
.widget-23 h3 {
  font-family: 'Seoge UI', sans-serif;
  font-size: 60px;
  color: #010927;
  font-weight: 700;
  letter-spacing: -4px;
  line-height: 1;
}
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
