<div class="header-content fullheight">
  <div class="page-header text-center">
    <h2>Объявления о продаже</h2>
    <p><a [routerLink]="'/adverts'" class="text-white">Просмотреть объявления о вязке</a></p>
    <div class="centered">
      <input value="Создать объявление" type="submit"  class="button-link-1" [routerLink]="'/adverts/create'">
    </div>
  </div>
</div>

<div class="widget-23">

  <div class="container">
    <div class="team-widget-tabs clearfix text-center">
      <ul class="clearfix pushtop-30">
        <li><a data-filter=".default" class="active link-hover">ВСЕ</a></li>
        <li><a data-filter=".team-designer" class="link-hover">ПОРОДА</a></li>
        <li><a data-filter=".team-developer"  class="link-hover">ЛОКАЦИЯ</a></li>
        <li><a data-filter=".team-office"  class="link-hover">ПИТОМНИК</a></li>
        <li><a data-filter=".team-marketing"  class="link-hover">ЦЕНА</a></li>
      </ul>
    </div>
    <div id="team-widget-tab-content" class="row">

      <ng-container *ngFor="let adverts of advertisements">
      <div class="col-lg-3 col-md-6 default team-designer">
        <div class="team-member">
          <strong class="d-inline-block mb-2 text-info">{{ adverts.type }}</strong>
          <img src="https://via.placeholder.com/270x270" class="img-fluid" alt="avatar">
          <a [routerLink]="['/adverts', adverts.id]" class="link-hover">{{adverts.title}}</a>
          <div class="mb-1 text-muted">{{ adverts.creationDate }}</div>
          <div class="line-clamp">
          <p>
            {{adverts.description}}
          </p>
          </div>
        </div>
      </div>
      </ng-container>
    </div>
  </div>
</div>
