  <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4">Объявления</h1>
      <p class="lead my-3">Категория объявления:</p>
      <button type="button" class="btn btn-primary mr-2">Продажа</button>
      <button type="button" class="btn btn-primary">Вязка</button>
    </div>
  </div>

  <div class="row mb-2">
    <ng-container *ngFor="let advertisement of advertisements">
    <div class="col-lg-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">{{ advertisement.type }}</strong>
          <h3 class="mb-0">{{ advertisement.title }}</h3>
          <div class="mb-1 text-muted">{{ advertisement.creationDate }}</div>
          <div class ="text-to-expand">
            <p class="card-text mb-auto">{{ advertisement.description }}</p>
          </div>
          <a href="#" class="stretched-link">Подробнее</a>
        </div>
        <div class="col-auto d-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
        </div>
      </div>
    </div>
    </ng-container>
  </div>
